
#carouselExampleCaptions {
  width: 95%;       
  margin: auto;     
}
#carouselExampleCaptions .carousel-item {
  height: 80vh;    
}
#carouselExampleCaptions .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contenedor-cards {
  display: flex;
  justify-content: center; 
  gap: 100px;               
  margin-top: 30px;
}
h1{
  text-align: center;
}

.card1{
  width: 18rem;
}
.card2{
  width: 20rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0) brightness(0);
}
